:root {
    --main-c: #f5f5f5;
    --secondary-c: #c0c0c0;
    --tertiary-c: #434343;
    --header-justify-content: flex-start;
    --header-column-gap: 10%;
    --f-1: 1em;
    --mission-f: calc(1280 / 16);
    --hundred-vw: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.central-layout {
    background-color: var(--main-c);
    color: var(--tertiary-c);
}

.central-nav {
    background-color: var(--main-c);
    color: var(--tertiary-c);
    box-shadow: 2px 0px 5px 0px var(--secondary-c);
}

header {
    width: 100%;
    height: 10vh;
}

.nav-1, .nav-2 {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: var(--header-justify-content);
    column-gap: var(--header-column-gap);
    align-items: center;
}

.nav-1 {
    height: 6vh;
    box-shadow: 0px 2px 5px 0px var(--secondary-c);
}

.nav-2 {
    width: calc(100% - 50px);
    margin: 0 auto;
    height: 4vh;
    border-bottom: 1px solid var(--secondary-c);
}

.nav-1 a, .nav-2 a {
    color: var(--tertiary-c);
    font-size: calc(var(--hundred-vw) / var(--f-1));
    font-weight: 500;
}

.current-page {
    text-decoration-line: underline !important;
    text-decoration-color: var(--secondary-c);
    text-decoration-thickness: 1.5px;
}

.page {
    padding: 30px;
    overflow-y: visible;
    width: 100%;
    height: max-content;
}

.content-popup {
    width: 100%;
    height: 100vh;
    max-width: 700px !important;
    max-height: 550px !important;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 2px solid var(--main-c);
    outline: 1px solid var(--tertiary-c);
    background-color: rgba(192, 192, 192, 0.3);
    backdrop-filter: blur(2px);
    padding: 20px;
    overflow-y: scroll;
}

.content-popup::-webkit-scrollbar {
    width: 0px;
}

.content-popup > button {
    display: flex;
    font-size: 28px;
    color: var(--tertiary-c);
    border: none;
    outline: none;
    background-color: transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* 
Home Page
*/

.home-page,
.list-page {
    position: relative;
}

.home-page > h2,
.list-page > h2 {
    color: black;
    font-weight: 500;
    
}

.list-style {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    column-gap: 20px;
    font-size: 24px;
    align-items: center;
}
.list-style > img {
    width: 48px;
    height: 48px;
}
.list-style > * {
    cursor: pointer;
}

.missions-container {
    width: 100%;
    height: max-content;
    display: flex;
    color: black !important;
}
.missions-container.list {
    flex-direction: column;
    row-gap: 10px;
}
.missions-container.cards {
    flex-direction: row;
    justify-content: space-around;
}

.related-object {
    display: block;
    height: 0;
    padding: 0 15px;
    overflow: hidden;
    transition: .3s;    
    color: var(--tertiary-c);
    text-decoration-line: underline !important;  
}
.related-object.show {
    height: auto;
    padding: 15px;
    border-top: 1px solid var(--secondary-c);
}

.extend-mission-btn {
    position: absolute;
    bottom: 0;
    right: 15px;
    transition: .3s;
}
.extend-mission-btn.extend {
    transform: rotate(180deg);
}

.missions-container button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    font-size: 20px;
}

button > * {
    pointer-events: none;
}

/* 
List Styling
*/

.missions-container.list > div {
    width: 100%;
    position: relative;
    box-shadow: 0px 8px 7px -8px var(--tertiary-c);
}

.missions-container.list button {
    font-size: 28px;
}

.missions-container.list .related-object {
    padding: 0 20px;
    font-size: 1.1em;  
}
.missions-container.list .related-object.show {
    padding: 20px;
}

.missions-container.list .extend-mission-btn {
    right: 20px;
}

.mission-content {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
}
.mission-content > p {
    font-size: calc(var(--hundred-vw) / var(--mission-f));
    word-wrap: normal;
    
}

.mission-check {
    display: inline;
    border-radius: 50%;
}
.mission-check.checked {
    background-color: var(--tertiary-c);
    color: var(--main-c);
}

.missions-container.list .done {
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-style: wavy;
    text-decoration-color: var(--tertiary-c);
}

/* 
Cards Styling
*/

.missions-container.cards {
    margin: 0 auto;
    perspective: 700px;
    perspective-origin: center bottom;
    transform-style: preserve-3d;
}

.missions-card {
    width: 300px;
    height: 400px;
    background-color: var(--main-c);
    box-shadow: 0px 5px 10px -2px var(--tertiary-c);
    border-radius: 20px;
    overflow: hidden;
    transition: all .3s;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    padding-bottom: 20px;
}

.missions-container.cards > span {
    transition: .3s;
}
.missions-container.cards > span.active {
    transform: translateZ(25px);

}

.missions-card > h3 {
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid var(--tertiary-c);
    font-weight: 500;
    color: var(--tertiary-c);
}

.missions-card > .missions {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.missions-card > .missions::-webkit-scrollbar {
    width: 2px;
    background-color: var(--main-c);
}
.missions-card > .missions::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-c);
    border-radius: 99px;
}

.missions-card > .missions > div {
    width: 100%;
    border-bottom: 1px solid var(--tertiary-c);
    font-size: .9em;
    position: relative;
    cursor: grab;
}
.missions-card > .missions > div:active {
    cursor: grabbing;
}

.missions-card > .missions > div p {
    margin: 15px;
}

/* 
Reward Styling
*/

.reward-container {
    width: 100%;
    height: max-content;
    margin: 10px 0;
}

.reward-container, .reward-container > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tertiary-c);
    row-gap: 15px;
    text-align: center;

}

.reward-img {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--secondary-c);
    display: flex;
}

.reward-img > img {
    height: 350px;
    width: auto;
    
}

.reward-container.locked > a {
    cursor: not-allowed;
}

.reward-container.locked  .reward-img {
    position: relative;
    
}
.reward-container.locked  .reward-img::after {
    content: '';
    background-color: rgba(128, 128, 128, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

/* 
Create List Page
*/

.list-form {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.list-form > section {
    width: 100%;
}

section.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

#list-title,
#list-date {
    font-size: 1.5em;
    width: 250px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

#list-title {
    border-left: 2px solid var(--tertiary-c);
    border-bottom: 2px solid var(--tertiary-c);
    border-bottom-left-radius: 10px;
}

#list-date {
    border-bottom: 2px solid var(--tertiary-c);
}

section.missions > .label {
    display: flex;
    column-gap: 10px;
    align-items: center;
} 

button.add-mission,
button.add-mission-2,
.mission-create-form .related-obj > button,
.chosen-reward > button {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}


.mission-create-form {
    width: 100%;
    height: max-content;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 10px;
    padding: 10px;
    box-shadow: 0px 8px 10px -8px var(--tertiary-c);
    position: relative;
}

span.sep {
    display: block;
    width: 1px;
    height: 220px;
    background-color: black;
    border-radius: 99px;
}

.mission-create-form > .custom-textarea,
.mission-create-form > .related-obj-field {
    width: calc(50% - 10.5px);
    height: 250px;
}

.custom-textarea:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
}
.custom-textarea:focus:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
}

.mission-create-form > .custom-textarea {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary-c);
    resize: none;
    padding: 5px;
    font-size: 1em;
}

.mission-create-form .search-field {
    width: 100%;
}

.mission-create-form .search-field > input {
    width: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secondary-c);
    border-left: 1px solid var(--secondary-c);
    padding: 5px;
    background-color: transparent;
}


.mission-create-form .obj-search-results {
    width: 100%;
    overflow-y: scroll;
    max-height: 230px;
}

.mission-create-form .obj-search-results > div {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--secondary-c);
    cursor: pointer;
}

.mission-create-form .obj-search-results::-webkit-scrollbar,
.reward-search > .search-field > .rewards-container::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}
.mission-create-form .obj-search-results::-webkit-scrollbar-thumb,
.reward-search > .search-field > .rewards-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-c);
    border-radius: 99px;
}

.mission-create-form .related-obj {
    width: 100%;
    height: 250px;
    position: relative;
}

.mission-create-form .related-obj > button {
    position: absolute;
    top: 10px;
    right: 20px;
}

button.add-mission-2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.reward-form {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 10px;
    box-shadow: 0px 5px 8px -3px var(--tertiary-c);
}

.reward-search {
    width: 100%;
    max-width: calc(50% - 10.5px);
    height: 250px;
}

.reward-search > .search-field {
    width: 100%;
    height: inherit;
}

.reward-search > .search-field > input {
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--secondary-c);
    outline: none;
    padding: 5px;
    font-size: 1em;
}

.reward-search > .search-field > .rewards-container {
    width: 100%;
    height: 230px;
    overflow-y: scroll;
    cursor: pointer;
}

.reward-search > .search-field > .rewards-container > div {
    border-bottom: 1px solid var(--secondary-c);
    padding: 10px;
    display: flex;
    column-gap: 5px;
    align-items: start;
}
.reward-search > .search-field > .rewards-container > div > img {
    height: 100px;
    width: auto;
    border: 1px solid var(--tertiary-c);
    border-radius: 7px;
}

.chosen-reward {
    width: calc(50% - 10.5px);
    height: 250px;
    display: flex;
    column-gap: 10px;
    position: relative;
}

.chosen-reward > .reward-img {
    height: 100%;
}
.chosen-reward > .reward-img > img {
    height: inherit;
}

.reward-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.reward-info > div {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.reward-info label {
    cursor: pointer;
}

.chosen-reward > button {
    position: absolute;
    top: 0;
    right: 20px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-c);
  transition: .4s;
  border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0;
    top: 0;
    background-color: var(--main-c);
    transition: .3s;
    border-radius: 50%;
}

.switch > input:checked + .slider {
  background-color: #f32121;
}

.switch > input:checked + .slider:before {
    left: 100%;
    transform: translateX(-100%);
    
}

button.submit-btn {
    background-color: transparent;
    width: 150px;
    height: auto;
    padding: 5px 0;
    font-size: 1.2em;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px var(--tertiary-c);
    cursor: pointer;
    margin: 30px 0px;
}

/* 
All Lists Page
*/

.list-container {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    row-gap: 20px;
    justify-content: space-between;
    box-shadow: 0px 8px 8px -8px var(--tertiary-c);
    position: relative;
}

.list-container a {
    color: black;
    cursor: pointer;
}

.list-container > button.del-list {
    justify-self: end;
    padding: 5px 10px;
    font-size: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px var(--secondary-c);
    cursor: pointer;
}

.list-container > span.done-list {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    display: flex;
}

.lists-loading {
    font-size: 24px;
}


/* 
Profile
*/

.profile-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 30px;
    padding: 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--tertiary-c);
    position: relative;
}

.profile-pic > div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic > div:nth-child(1) > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.profile-pic > .edit-pic,
.profile-about > .edit-about {
    width: max-content;
    height: max-content;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.profile-pic #edit-pic-field {
    display: none;
}
.profile-pic label {
    cursor: pointer;
    font-size: 24px;
    color: var(--tertiary-c);
}

.profile-about {
    width: max-content;
    position: relative;
}

.profile-about > p,
.profile-about textarea {
    width: 200px;
    height: 120px;
    border-radius: 5px;
    padding: 5px;
}

.profile-about > p {
    background-color: var(--secondary-c);
    color: var(--main-c);
} 

.profile-about > .textarea {
    width: max-content;
    height: max-content;
    position: relative;
}

.profile-about > .textarea button {
    background-color: var(--tertiary-c);
    color: var(--main-c);
    font-size: 24px;
    border: none;
    outline: none;
    padding: 0 5px;
    border-radius: 5px;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 5px;
    cursor: pointer;
}

.profile-about textarea {
    background-color: transparent;
    border: 1px solid var(--secondary-c);
    outline: none;
    resize: none;
    font-family: 'Inter';
}

.profile-about > .edit-about {
    background-color: transparent;
    border: none;
    outline: none;
    right: auto;
    left: 100%;
    font-size: 24px;
    color: var(--tertiary-c);
    cursor: pointer;
}

.profile-info, 
.profile-action {
    width: max-content;
    height: max-content;
    display: flex;
}

.profile-info {
    flex-direction: column;
    row-gap: 10px;
}

.profile-action {
    column-gap: 10px;
}

.profile-action > button {
    background-color: var(--main-c);
    /* border: 1px solid var(--tertiary-c); */
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 5px 15px;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0px 2px 5px 0px var(--tertiary-c);
    cursor: pointer;
}

/* 
Settings
*/

.settings-container {
    width: 100%;
    height: 100%;
}

.settings-container > section {
    width: 100%;
}

.settings-options > div {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 10px;
}

.toggle-setting {
    display: flex;
    align-items: center;
}

.toggle-setting input {
    width: 0;
    height: 0;
    opacity: 0;
}

.setting-slider {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--tertiary-c);
    border-radius: 50px;
    cursor: pointer;
    margin-right: 5px;
}

.toggle-setting > span:nth-child(3) {
    margin-left: 5px;
}

.setting-slider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: var(--secondary-c);
    transition: .3s;
    border-radius: 50%;
}

.toggle-setting > input:checked + .setting-slider {
    background-color: var(--secondary-c);
}
.toggle-setting > input:checked + .setting-slider::before {
    left: calc(100% - 19px);
    background-color: var(--tertiary-c);
}

.entertainment-type select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--secondary-c);
    color: var(--tertiary-c);
    font-size: 0.9em;
}


/* 
Media Queries
*/


@media screen and (max-width: 768px) {
    :root {
        --f-1: 0.9em;
        --mission-f: 1em;
        --header-justify-content: space-between;
    }

    /* 
    Create List Page
    */

    .mission-create-form {
        min-height: auto;
    }

    .mission-create-form > .custom-textarea,
    .mission-create-form > .related-obj-field {
        width: 100%;
    }

    .mission-create-form > .custom-textarea {
        border-bottom: none;
    }

    span.sep {
        display: none;
    }

    .reward-search,
    .chosen-reward  {
        width: 100%;
        max-width: none;
    }

    .chosen-reward {
        padding: 20px 0px;
    }
    .chosen-reward > button {
        top: 20px;
    }

}

@media screen and (max-width: 545px) {
    .missions-container.cards {
        perspective: 1000px;
        perspective-origin: center top;
        transform-style: preserve-3d;
        min-height: 400px;
        margin-top: 30px;
    }

    .missions-container.cards > span {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        rotate: x 90deg;
        transform-style: preserve-3d;
        height: 150px;
        width: 10px;
    }

    span.pending,
    .missions-container.cards.working > span.pending {
        transform: rotateZ(120deg);
    }

    span.done,
    .missions-container.cards.working > span.done {
        transform: rotateZ(240deg);
    }

    span.active {
        transform: rotateZ(0deg);
    }
    span.active > .missions-card {
        transform: rotateY(0deg);
    }

    .missions-container.cards.pending > span.done {
        transform: rotateZ(120deg);
    }
    .missions-container.cards.pending > span.done > .missions-card {
        transform: rotateY(120deg);
    }
    .missions-container.cards.pending > span.working {
        transform: rotateZ(240deg);
    }
    .missions-container.cards.pending > span.working > .missions-card {
        transform: rotateY(240deg);
    }


    .missions-container.cards.done > span.pending {
        transform: rotateZ(240deg);
    }
    .missions-container.cards.done > span.pending > .missions-card {
        transform: rotateY(240deg);
    }
    .missions-container.cards.done > span.working {
        transform: rotateZ(120deg);
    }
    .missions-container.cards.done > span.working > .missions-card {
        transform: rotateY(120deg);
    }

    .missions-card {
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% -50%;
        rotate: x -90deg;
        width: 250px;
    }

    .missions-card.pending-card,
    .missions-container.cards.working .pending-card {
        transform: rotateY(120deg);
    }

    .missions-card.done-card,
    .missions-container.cards.working .done-card {
        transform: rotateY(240deg);
    }



}



@media screen and (min-width: 1441px) {

    .home-page > h2, .list-page > h2 {
        font-size: 2em;
    }

    .missions-container.cards > span {
        width: calc((1180px) / 3);
        height: 550px;
    }

    .missions-card {
        width: 100%;
        height: 100%;
    }

    .missions-card > h3 {
        font-size: 1.3em;
    }

    .missions-card > .missions > div p {
        font-size: 1.1em;
    }
}