:root {
    --c1: #f5f5f5;
    --c2: #c0c0c0;
    --c3: #000000;
}

.goals-layout,
.goals-nav {
    background-color: var(--c1);
    color: var(--c3);
}


.goals-nav {
    box-shadow: 2px 2px 5px 0px var(--c2);
}

.goals-nav .sep {
    background-color: var(--c2);
}

.toggle-container > * {
    color: var(--c2);
}

header {
    width: 100%;
    height: 6vh;
    padding: 20px;
    border-bottom: 1px solid var(--c2);
}

header,
nav {
    display: flex;
    align-items: center;
    
}

nav {
    width: 100%;
    height: 100%;
    column-gap: 10%;
}

nav a {
    color: var(--c3);
    font-weight: 500;
}

.current-page {
    text-decoration-line: underline !important;
}

.page {
    width: 100%;
    height: max-content;
    padding: 30px;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

.not-found-link {
    text-decoration-line: underline !important;
}

.goal-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.goal-container > section {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0px 5px 5px -3px var(--c2);
    padding: 20px;
}

section.info > input,
section.finish > input,
section.finish > h2 {
    width: 100%;
    font-size: 1.5em;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--c2);
    border-left: 2px solid var(--c2);
    padding: 10px;
    border-bottom-left-radius: 5px;
    background-color: transparent;
}

section.info > textarea,
section.info > p {
    width: 100%;
    border: none;
    font-size: 1.2em;
    outline: none;
    font-family: 'Inter';
    background-color: transparent;
    resize: none;
}

section.info > textarea {
    height: 250px;
    padding: 10px;
    border-left: 2px solid var(--c2);
    border-bottom: 2px solid var(--c2);
    border-bottom-left-radius: 5px;
}

section.info > p {
    height: max-content;
    margin-bottom: 20px;
    max-height: 250px;
}

section.related {
    row-gap: 30px;
}

section.related > div > div:nth-child(2) {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
}

section.related .mission {
    width: calc((100% - 40px) / 3);
    height: 150px;
    background-color: var(--c1);
    box-shadow: 0px 2px 5px 1px var(--c2);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

section.related .mission > button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: max-content;
    height: max-content;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
}

section.progress {
    padding-bottom: 40px;
}

section.progress > .progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--c2);
    border-radius: 99px;
    position: relative;
}

section.progress > .progress-bar > .progress {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: skyblue;
    border-radius: 99px;
}

section.progress > .progress-bar > .progress::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--c1);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    box-shadow: 0px 0px 5px 1px var(--c2);
}

section.progress > .progress-bar span {
    font-size: 1.2em;
    position: absolute;
    top: 100%;
}
section.progress > .progress-bar span.done {
    transform: translateX(-100%);
}

section.finish > h2 {
    border-left:none;
    border-bottom-left-radius: 0px;
}

section.finish > h2.shadow-words {
    position: relative;
}

section.finish > h2.shadow-words::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: var(--c2);
    filter: blur(10px);
}

section.finish > .rewards > div:nth-child(2) {
    width: 100%;
    height: max-content;
    margin: 10px;
}

section.finish > .rewards .reward {
    width: 100%;
    height: max-content;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: start;
    border-bottom: 1px solid var(--c2);
}

section.finish > .rewards .reward .img{
    width: 100px;
    height: 140px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
}

section.finish > .rewards .reward .img > img {  
    width: 100%;
    height: auto;
    position: absolute;
    border-radius: 3px;
    border: 1px solid var(--c2);
}

section.finish > .rewards .reward > div:nth-child(2) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.finish > .rewards .reward > div:nth-child(2) > span {
    font-size: 24px;
}

.project,
.related-obj,
.course {
    display: flex;
    width: calc((100% - 40px) / 3);
    height: 150px;
    background-color: var(--c1);
    box-shadow: 0px 2px 5px 1px var(--c2);
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: black;
}

.project > span,
.course > span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
}

.label {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.label h3{
    font-size: 1.3em;
}

.label button {
    width: max-content;
    height: max-content;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}

.goal-container > button {
    width: max-content;
    height: max-content;
    padding: 10px 30px;
    background-color: var(--c1);
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.5em;
    margin: 0 auto;
    box-shadow: 0px 2px 5px 1px var(--c2);
    cursor: pointer;
}

.search-popup,
.missions-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    max-width: 700px;
    max-height: 500px;
    background-color: var(--c1);
    border: 2px solid var(--c2);
    border-radius: 15px;
    box-shadow: 0px 2px 5px 1px var(--c2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.search-popup > div:nth-child(1) {
    display: flex;
    column-gap: 5px;
}

.search-popup > div > input,
.search-popup > div > button,
.missions-popup > button {
    width: 100%;
    padding: 5px;
    font-size: 1em;
    border: 1px solid var(--c2);
    outline: none;
    border-radius: 5px;
}

.search-popup > div > button,
.missions-popup > button {
    width: max-content;
    cursor: pointer;
}


.search-popup > div:nth-child(2),
.search-popup > div.rewards  {
    width: 100% !important;
    max-height: 100% !important;
    overflow-y: scroll !important;
    display: flex !important;
    column-gap: 10px !important;
    row-gap: 10px !important;
    flex-wrap: wrap !important;
    align-items: flex-start !important;
    padding: 5px !important;
}

.search-popup > div > .related-obj {
    width: calc((100% - 20px) / 3);
    height: 100px;
    padding: 10px;
}

.search-popup > div > div {
    cursor: pointer;
}

.search-popup > div > div > h3 {
    pointer-events: none;
}

.search-popup > div > div.specified {
    background-color: rgba(172, 255, 47, 0.749);
}


.search-popup > div::-webkit-scrollbar {
    width: 5px;
}

.search-popup > div::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: var(--c2);
}

.search-popup > div.rewards > div {
    width: calc((100% - 30px) / 4);
    height: max-content;
    border-radius: 7px;
    padding: 5px;
}

.search-popup > div.rewards .img {
    width: 100px;
    height: 140px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    
}

.search-popup > div.rewards .img > img {
    width: 100%;
    height: auto;
    position: absolute;
    border-radius: 3px;
    border: 1px solid var(--c2);
}

.search-popup > div.rewards span {
    display: block;
    width: 100px;
    margin: 0 auto;
    font-size: .9em;
}

.missions-popup > textarea {
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    font-family: 'Inter';
    background-color: transparent;
    resize: none;
}

.missions-popup > button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* 
Home Page
*/

.home-page {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.home-page > a.goal-element {
    color: black;
}

.home-page > a.go-home {
    text-decoration-line: underline !important;
}

.goal-element {
    width: 100%;
    height: max-content;
    padding: 20px;
    align-content: center;
    background-color: var(--c1);
    box-shadow:0px 2px 5px 1px var(--c2);

}


@media screen and (max-width: 768px) {
    .project,
    .course,
    .related-obj,
    .mission {
        width: calc((100% - 20px) / 2) !important;
    }
}

@media screen and (max-width: 545px) {
    .project,
    .course,
    .related-obj,
    .mission {
        width: 100% !important;
    }

    .search-popup > div.rewards > div {
        width: calc((100% - 20px) / 3);
    }
}