.entertainment-layout-l {
    --c1: #f5f5f5;
    --c2: #421c1a;
    --c3: #350d0b;
}

.entertainment-layout-d {
    --c1: #350d0b;
    --c2: #421c1a;
    --c3: #f5f5f5;
}

.entertainment-layout-d,
.entertainment-layout-l {
    background-color: var(--c1);
}

.entertainment-nav {
    box-shadow: 2px 2px 5px 0 var(--c3);
    background-color: var(--c1);
}

.entertainment-nav span {
    color: var(--c3);
}

.entertainment-nav .toggle-container > svg {
    color: var(--c3) !important;
}
.entertainment-nav .toggle-container > div {
    background-color: var(--c3) !important;
}

.entertainment-nav .toggle-container > div {
    box-shadow: 0px 0px 5px 0px var(--c1);
}


header {
    width: 100%;
    height: 6vh;
    padding: 20px;
    border-bottom: 1px solid var(--c3);
    position: relative;
}

header > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--c3);
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10%;
}

nav a {
    color: var(--c3);
    font-weight: 500;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

.entertainment-layout-d .current-page {
    text-shadow: 1px 1px 15px  var(--c3);
}

.entertainment-layout-l .current-page {
    text-decoration-line: underline !important;
    text-decoration-thickness: 2px !important;
    text-decoration-color: var(--c3);
}


.page {
    width: 100%;
    height: max-content;
    color: var(--c3);
}


.materials-container {
    width: 100%;
    height: max-content;
    padding: 20px;
    background-color: var(--c2);
    position: relative;
    container-type: inline-size;
    container-name: materials;
    display: flex;
    flex-direction: column;
}

.materials-container > .types {
    position: absolute;
    top: 5px;
    left: 20px;
    display: flex;
    column-gap: 10px;
}

.materials-container > .types > button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #f5f5f5;
    font-size: 1em;
}

.materials-container > .types > button.active {
    background-color: var(--c1);
    color: var(--c3);
    font-weight: 600;
}

.materials-container > .view-all {
    display: flex;
    position: absolute;
    top: 5px;
    right: 20px;
    color: #f5f5f5;
    font-size: 24px;
}

.materials-container > .materials {
    width: calc(100% - 80px);
    height: max-content;
    margin: 10px 40px;
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
    overflow-x: scroll;
    color: #f5f5f5;
}

.materials-container > .materials::-webkit-scrollbar {
    display: none;
}

.materials-container > .materials > a {
    display: block;
    min-width: calc((100% - 120px) / 5);
    max-width: calc((100% - 120px) / 5);
    height: max-content;
}

@container materials (max-width: 1200px) {
    .materials-container > .materials > a {
        min-width: calc((100% - 90px) / 4);
        max-width: calc((100% - 90px) / 4);
    }
}

@container materials (max-width: 1000px) {
    .materials-container > .materials > a {
        min-width: calc((100% - 60px) / 3);
        max-width: calc((100% - 60px) / 3);
    }
    
}

@container materials (max-width: 545px) {



    .materials-container > .materials > a {
        min-width: calc((100% - 30px) / 2);
        max-width: calc((100% - 30px) / 2);
    }
}

.materials-container .material {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.img-container {
    width: 200px;
    margin: 0 auto;
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container > img {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.material > div:nth-child(2) {
    width: 200px;
    margin: 0 auto;
    color: white;
}

.materials-container > button {
    width: max-content;
    height: max-content;
    background-color: transparent;
    display: flex;
    color: rgba(245, 245, 245, 0.6);
    font-size: 40px;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.materials-container > button.left {
    left: 15px;
}
.materials-container > button.right {
    right: 15px;
}


.not-found-page {
    padding: 30px;
    color: var(--c3);
}
.not-found-link {
    text-decoration-line: underline !important;
    color: var(--c3);
}

/* 
Home Page | Special Page
*/

.home-page > section > h2,
.special-page > section > h2 {
    margin: 30px 20px;
}

/* 
Add Material Page
*/

.add-material-page {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

.by-link,
.manual {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.by-link .field-container {
    width: 100%;
    display: flex;
    column-gap: 10px;
}

.by-link .field-container > input {
    width: 100%;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.6);
    color: #350d0b;
    border: 1px solid var(--c2);
    outline: none;
    border-radius: 5px;
    font-size: 1em;
}

.by-link .field-container > select,
.by-link .field-container option {
    background-color: var(--c3);
    color: var(--c1);
    font-size: 1em;
}

.by-link .field-container > select {
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

.by-link > button {
    width: max-content;
    padding: 10px 20px;
    background-color: var(--c3);
    color: var(--c1);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}


.manual > form {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.manual > form > input,
.manual > form > textarea,
.manual > form > select,
.manual > form > button[type='submit'],
.manual > form .image-upload-label {
    padding: 5px 10px;
    background-color: var(--c3);
    color: var(--c1);
    font-size: 1em;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
}

.manual > form > .title,
.manual > form > .link {
    width: calc(50% - 5px);
}

.manual > form > .image-link {
    width: 100%;
}

.manual > form > label {
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
}
.manual > form #image-upload {
    display: none;
}

.manual > form > textarea {
    width: 100%;
    height: 200px;
    resize: none;
    font-family: 'Inter';
}

.manual > form > button[type='submit'] {
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.manual > form > img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--c3);
}

/* 
Material Page
*/

.material-page {
    padding: 30px;
    position: relative;
}

.locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(112, 112, 112, 0.7);
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.locked > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--c1);
}

.material-container {
    width: 100%;
    height: max-content;
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    flex-wrap: wrap;
}

.material-container > div {
    max-width: 100%;
}

.material-container a {
    word-wrap: break-word;
}

.material-container > .image-container {
    width: 250px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--c3);
    display: flex;
}

.material-container > .image-container > img {
    width: 100%;
    height: auto !important;
}

.material-container .genres {
    width: 50%;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.material-container .genres > span {
    padding: 5px;
    background-color: var(--c3);
    color: var(--c1);
    border-radius: 5px;
}

.material-container .rates {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.material-container .rates > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.material-container .rates  button {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--c3);
    font-size: 20px;
    cursor: pointer;
}

.material-container .rates  input[type="number"] {
    width: max-content;
    padding: 5px 10px;
    background-color: var(--c3);
    color: var(--c1);
    font-size: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
}

.material-container .link {
    text-decoration-line: underline !important;
    color: var(--c3);
}

.material-container > div:nth-child(3) {
    width: 100%;
    display: flex;
    column-gap: 10px;
}

.material-container > div:nth-child(3) > * {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--c3);
    color: var(--c1);
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}

.material-container > div:nth-child(3) > button.special {
    box-shadow: 1px 1px 15px 0px var(--c3);
}

.material-container > .desc {
    width: 100%;
    height: max-content;
}

.material-container > .desc > p {
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    hyphens: auto;
}

.material-container button.delete {
    padding: 5px 20px;
    background-color: var(--c3);
    color: var(--c1);
    font-weight: 600;
    font-size: 1.1em;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.line-sep {
    width: 100%;
    height: 1px;
    margin: 50px 0px 20px 0px;
    background-color: var(--c3);
}

.related-entries {
    width: 100%;
    height: max-content;
}

.related-entries > div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.related-entries > div:nth-child(1) > button {
    width: max-content;
    height: max-content;
    background-color: transparent;
    color: var(--c3);
    border: none;
    outline: none;
    font-size: 32px;
    cursor: pointer;
    display: flex;
}

.related-entries-popup {
    position: absolute;
    width: 300px;
    height: 280px;
    bottom: 100%;
    right: 0;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    column-gap: 5px;
    background-color: var(--c1);
    box-shadow: 1px 1px 10px 0px var(--c3);
    border-radius: 10px;
    padding: 10px;

}

.related-entries-popup > div {
    width: 100%;
    height: 100%;
}

.related-entries-popup > div:nth-child(1) input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--c3);
    color: var(--c1);
    padding: 5px;
    border-radius: 5px;
}

.related-entries-popup > div:nth-child(2) {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.related-entries-popup > div:nth-child(2)::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}
.related-entries-popup > div:nth-child(2)::-webkit-scrollbar-thumb {
    background-color: var(--c3);
    border-radius: 99px;
}

.related-entries-popup > div:nth-child(2) > div {
    width: 100%;
    min-height: calc(100% / 4);
    padding: 5px;
    display: grid;
    grid-template-columns: max-content auto max-content;
    column-gap: 5px;
}

.related-entries-popup > div:nth-child(2) > div > div:nth-child(1) {
    height: 100%;
    display: flex;
    overflow: hidden;
}

.related-entries-popup > div:nth-child(2) > div > div:nth-child(1) > img {
    height: inherit;
}

.related-entries-popup > div:nth-child(2) > div  > h6 {
    max-width: 100%;
    justify-self: start;
}

.related-entries-popup > div:nth-child(2) > div > button {
    width: max-content;
    height: max-content;
    align-self: end;
    justify-self: end;
}

.related-entries-popup > div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
}

.related-entries-popup > div:nth-child(3) > button {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--c3);
    color: var(--c1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9em;
    font-weight: 600;
}

.entries-container {
    width: 100%;
    height: max-content;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.entries-container > a {
    display: block;
    width: max-content;
    max-width: calc((100% - 60px) / 4);
    height: max-content;
    color: var(--c3);
}

.entries-container .related-entry > .img-container {
    width: 150px;
    height: calc(150px * 1.4)
}
.entries-container .related-entry > .title {
    width: 150px;
    margin: 0 auto;
}


/* 
Search Page
*/

.search-page {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.fields-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.fields-container > input[type='text'] {
    width: 100%;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.6);
    color: #350d0b;
    border: 1px solid var(--c2);
    outline: none;
    border-radius: 5px;
    font-size: 1em;
}

.fields-container > select {
    padding: 5px 10px;
    background-color: var(--c3);
    color: var(--c1);
    font-size: 1em;
    border-radius: 5px;
    border: none;
    outline: none;   
}

.fields-container  input[type="checkbox"] {
    display: none;
}

.fields-container > .specialty, 
.fields-container > .genres > span {
    background-color: var(--c3);
    color: var(--c1);
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
}

.specialty.checked {
    box-shadow: 1px 1px 10px 0px var(--c3);
}

.fields-container > .genres {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.fields-container .genres-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: var(--c1);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--c3);
    margin-top: 5px;
    width: 300px;
    height: max-content;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    cursor: auto;
}

.fields-container .genres-container.show {
    display: flex;
}

.fields-container .genre > span {
    padding: 5px;
    border-radius: 5px;
}

.fields-container .genre {
    cursor: pointer;
}

.fields-container .genre > input:checked + span,
.fields-container .genre > input:checked + span {
    background-color: var(--c3);
    color: var(--c1);
}

.results-container {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    container-type: inline-size;
    container-name: results;
}


.results-container > a {
    display: block;
    width: calc((100% - 120px) / 5);
    height: max-content;
    color: var(--c3);
}

.results-container > a > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.results-container .img-container img{
    border: 1px solid var(--c2);
}

.results-container .title {
    width: 200px;
    margin: 0 auto;

}


@container results (max-width: 1200px) {
    .results-container > a {
        width: calc((100% - 90px) / 4);
    }
}   

@container results (max-width: 1200px) {
    .results-container > a {
        width: calc((100% - 90px) / 4);
    }
}   

@container results (max-width: 1000px) {
    .results-container > a {
        width: calc((100% - 60px) / 3);
    }
}

@container results (max-width: 545px) {
    .results-container > a {
        width: calc((100% - 30px) / 2);
    }
}


@media screen and (max-width: 545px) {

    .entertainment-nav {
        box-shadow: -2px -2px 5px 0 var(--c3) inset;
    }

    header > button {
        right: 20px;
    }

    .materials-container > .types > button {
        font-size: 0.8em;
    }

    .materials-container > .view-all {
        top: auto;
        bottom: 5px;
    }

    .img-container {
        width: 120px;
        height: 168px;
    }
    .material > div:nth-child(2),
    .results-container .title {
        width: 120px;
        font-size: 0.8em;
    }

    /* 
    Add Material Page
    */

    .by-link .field-container > input,
    .by-link .field-container > select,
    .fields-container > input[type='text'] {
        height: max-content;
        font-size: 0.8em;
    }

    .by-link > button {
        font-size: 0.8em;
    }


    /* 
    Search Page
    */

    .fields-container > * {
        font-size: 0.8em !important;
    }


    /* 
    Material Page
    */

    .entries-container {
        justify-content: center;
    }

    .entries-container > a {
        
        max-width: 50%;
    }
}

@media screen and (max-width: 460px) {
    .fields-container .genres-container {
        left: auto;
        right: 0;
    }
}

@media screen and (min-width: 1600px) {

    .materials-container > .types > button {
        font-size: 1.1em;
    }

    .materials-container > .materials > a {
        min-width: calc((100% - 160px) / 6);
        max-width: calc((100% - 160px) / 6);
    }

    .img-container {
        width: 230px;
        height: calc(230px * 1.4);
    }

    .material > div:nth-child(2),
    .results-container .title {
        width: 230px;
        font-size: 1.1em;
    }

    .by-link, .manual {
        max-width: 800px;
    }

    .by-link .field-container > input,
    .by-link > button,
    .by-link .field-container > select,
    .fields-container > input[type='text'],
    .fields-container > select {
        font-size: 1.1em;
    }

    .manual > form > input, 
    .manual > form > textarea, 
    .manual > form > select, 
    .manual > form > button[type='submit'], 
    .manual > form .image-upload-label {
        font-size: 1.1em;
    }

    .material-container .genres,
    .material-container .rates,
    .material-container .link,
    .material-container > div:nth-child(3) > * {
        font-size: 1.1em;
    }
}