@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* 

Styling will be based on importance measured by percentaage

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --f-nav: calc(1280 / 16);
}

html {
  width: 100%;
  height: 100%;
  background-color: gray;
  font-family: "Inter", serif;
}

html::-webkit-scrollbar {
  background-color: rgba(128, 128, 128);
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 99px;
}

#root {
  width: 100%;
  height: max-content;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration-line: none !important;
}

.main-layout {
  min-width: 100%;
  width: max-content;
  height: max-content;
  min-height: 100vh;
  position: relative;
  display: flex;
}

.side-nav {
  width: 15vw;
  height: 100vh;
  position: fixed;
  display: flex;
  padding: 10px;
  transition: .3s;
  z-index: 1000;
}

.side-nav.close {
  transform: translateX(-100%);
}

.side-nav-list {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.side-nav.close .side-nav-list {
  overflow: hidden;
}

.nav-item {
  width: 100%;
  height: 10vh;
  text-align: center;
  align-content: center;
  position: relative;
}

.nav-item span {
  font-size: 1em;
  font-weight: 500;
}

.sep {
  width: 80%;
  height: 1px;
}

.side-nav-list > li > a {
  width: 100%;
  height: 100%;
}

.toggle-container {
  width: max-content;
  height: 20vh;
  align-self: center;
  position: absolute;
  left: 100%;
  display: flex;
  align-items: center;
  transition: .3s;
  cursor: pointer;
  margin: 0 5px;
}

.toggle-line {
  height: 100%;
  width: 2px;
  border-radius: 99px;
}

.toggle-container > .toggle-arrow {
  width: max-content;
  height: max-content;
  transition: .7s;
}

.toggle-container.open {
  flex-direction: row;
}

.toggle-container.open > .toggle-arrow {
  transform: rotateY(180deg);
}

.main-container {
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  transition: all .3s;
  position: relative;
  z-index: 1;
}

.main-layout:not(.entertainment-layout-d, .entertainment-layout-l) .main-container > div {
  max-width: 1440px;
  margin: 0 auto;
}

.side-bar-open .main-container {
  width: 85vw;
  transform: translateX(15vw);
}


/* 
Authentication Styles
*/

.authentication-page {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.authentication-page>form {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border: 2px solid #c0c0c0;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 0 auto;

}

.authentication-page>form h1 {
  margin-bottom: 10px;
  width:max-content;
  align-self: center;
  font-weight: 500;
}

.authentication-page>form input {
  font-size: 1.2em;
  padding: 5px;
  outline: none;
  border: none;
  border-left: 1px solid silver;
  border-bottom: 2px solid silver;
  width: max-content;
  background-color: transparent;
  border-bottom-left-radius: 3px;
}

.authentication-page>form input[type=submit],
button.logout {
  align-self: center; 
  padding: 3px 10px;
  background: transparent;
  outline: none;
  box-shadow: 0px 0px 5px 0px #c0c0c0 inset;
  border: 1px solid #e2e2e2;
  cursor: pointer;
}

.authentication-page>form a {
  text-decoration-line: underline !important;
}

.OAuthContainer {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.OAuthContainer .LoginBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.OAuthContainer .LoginBtn svg {
  width: 25px;
  height: 25px;
  color: black;
}

@media screen and (max-width: 768px) {
  :root {
    --f-nav: 1em;
  }

  .side-nav {
    width: 50vw;
  }

  .side-bar-open .main-container {
    width: 100vw;
    transform: none;
  }
}

@media screen and (max-width: 545px) {
  .side-nav{
    width: 100vw;
  }

  .toggle-container.open {
    flex-direction: row-reverse;
    right: 0;
    left: auto;
  }

}

@media screen and (min-width: 1441px) {

  h1 {
    font-size: 2.5em !important;
  }
  h2 {
    font-size: 2em !important;
  }
  h3 {
    font-size: 1.3em !important;
  }
  h4, p {
    font-size: 1.1em !important;
  }

  .nav-item span {
    font-size: 1.2em;
  }
}