@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter';
    background-color: white;

}


.intro-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

audio {
    display: none;
}

.intro-page .container,
.new-container {
    width: 95%;
    max-width: 700px;
    padding: 30px 10px;
    perspective: 300px;
    perspective-origin: bottom;
    transform: translateY(-100%);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.intro-page .container.start {
    animation: hide .5s ease-in-out 1;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

.intro-page .container > div {
    position: relative;
    width: 100%;
    height: 2em;
    font-size: 3em;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 1000;
    background-color: transparent;
}

.intro-page .container > div p {
    position: absolute;
    min-width: 100%;
    top: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    translate: -100%;
    transform-style: preserve-3d;
}

.intro-page .container.start > div p {
    animation: slide 2.5s ease-in-out 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.intro-page .container.start > div p > span {
    display: inline-block;
    animation: wave .4s ease-in-out 1;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
    transform:translateY(0px);
    letter-spacing: 10px;
}

.intro-page .container .blur, .clear {
    position: absolute;
    inset: 0;
    perspective: 300px;
    perspective-origin: bottom;
}

.intro-page .container.start .blur {
    animation: show 0.1s ease-in-out 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.intro-page .blur {  
    height: 2.5em;
    display: grid;
    place-items: center;
    background-color: #f1f1f1;
    background-image: linear-gradient(to right, black, 1px, transparent 50%);
    filter: contrast(15);
    opacity: 0;
}

.intro-page .container .blur > p {
    filter: blur(5px);
}

button {
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    box-shadow: 0px 1px 3px 1px silver;
    cursor: pointer;
}

button.start {
    position: absolute;
    bottom: 10%;
    left: 50%;
    translate: -50%;
    
    z-index: 10;
}

.domain-container {
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    place-content: center;
    position: absolute;
    transform-style: preserve-3d;
    perspective: 400px;
    perspective-origin: center;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.domain-container > img {
    transform: translateZ(-20000px);
}

.domain-container.expand {
    opacity: 1;
}

.domain-container.expand > img {
    animation: expand 3s ease-out 1;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.parts-container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    place-items: center;
    place-content: center;
    perspective: 2000px;
    perspective-origin: top center;
    opacity: 0;
    transition: opacity 0.15s ease-out;
    position: relative;
}

.parts-container.none {
    pointer-events: none !important;
}

.parts-container > span.show-tip {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: silver;
    color: gray;
    font-size: 32px;
    padding: 5px;
    width: max-content;
    height: max-content;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.parts-container.show {
    opacity: 1;
}

.parts-container > div {
    width: 100%;
    height: max-content;
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    perspective: 2000px;
    perspective-origin: top center;
    transform-style: preserve-3d;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.part {
    width: 100%;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 5px 2px #f1f1f1;
    cursor: pointer;
}

.part#entertainment {
    transform-origin: right;
    transform: rotateY(35deg);
}
.part#learning-tracker {
    transform-origin: left;
    transform: rotateY(17.5deg);
}
.part#sessions-manager {
    transform-origin: right;
    transform: rotateY(-17.5deg);
}
.part#goals {
    transform-origin: left;
    transform: rotateY(-35deg);
}

.part > img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.part::before {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 100%;
    transform-style: preserve-3d;
    transform: rotateX(90deg);
    transform-origin: bottom;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 3px 0px #f1f1f1;
    z-index: 1;
}

.part#entertainment::after,
.part#learning-tracker::after {
    content: '';
    height: 100%;
    width: 10px;
    position: absolute;
    right: 100%;
    top: 0;
    transform-style: preserve-3d;
    transform: rotateY(-90deg);
    transform-origin: right;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 3px 0px #f1f1f1;
    z-index: 1;
}

.part#sessions-manager::after,
.part#goals::after {
    content: '';
    height: 100%;
    width: 10px;
    position: absolute;
    left: 100%;
    top: 0;
    transform-style: preserve-3d;
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 3px 0px #f1f1f1;
    z-index: 1;
}

.part > .part-title {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.part > .part-title > div {
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    place-content: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95) 10%, rgba(40, 40, 40, 0.95) 40%, transparent 100%);
    color: white;
    transform: translateY(100%);
    transition: transform 0.4s ease-out;
}

.part.hover > .part-title > div {
    transform: translateY(0%);
}



.part > .shadow {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #f1f1f1;
    opacity: 0.8;
    filter: blur(50px);
    top: 100%;
    left: 50%;
    transform: translateX(-50%) rotateX(90deg);
    transform-origin: top;
    z-index: 2;
}

.new-container {
    text-align: center;
    transform: translate(-50%, -100%);
    z-index: 1;
}

.new-container > h1 {
    font-size: 3em;
    color: #f1f1f1;
    opacity: 0;
    font-weight: 400;
    animation: show-title 3.5s ease-in-out 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-font-smoothing: antialiased;
}


.action-btns {
    display: flex;
    column-gap: 30px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    translate: -50%;
}

.action-btns.hide {
    display: none;
}

.part-details-container,
.part-details-container > div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.part-details-container > div:nth-child(1),
.part-details-container > div:nth-child(3) {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    animation-fill-mode: forwards !important;
}
.part-details-container > div:nth-child(1) {
    transform: translateY(-100%);
    /* top: -100%; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 10%, transparent 100%);
    animation: part-details-one 0.5s ease-in-out 1;
    
}
.part-details-container > div:nth-child(3) {
    transform: translateY(100%);
    /* top: 100%; */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 10%, transparent 100%);
    animation: part-details-two 0.5s ease-in-out 1;
}

.part-details-container > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: show-details 0.5s ease-in-out 1;
    animation-delay: .7s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 2;
}

.part-details-container > div:nth-child(2) > * {
    color: white;
}

.part-details-container > div:nth-child(2) > p {
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: center;
    width: 100%;
    max-width: 700px;
}

.part-details-container .close-details {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: none;
    border-radius: none;
    box-shadow: none;
    display: flex;
    width: max-content;
    height: max-content;
    z-index: 3;
}

@keyframes show-details {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes part-details-one {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0%);
    }
}

@keyframes part-details-two {
    from {
        transform: translateY(100%);
    } to {
        transform: translateY(0%);
    }
}


@keyframes slide {
    from {
        translate: -100%;
    } to {
        translate: 0px;
    }
}

@keyframes wave {
    from {
        transform: translateY(0px);
    } to {
        transform:  translateY(20px);
    }
}

@keyframes show {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes expand {
    from {
        transform: translateZ(-20000px);
    } to {
        transform: translateZ(320px);
    }
}

@keyframes show-title {
    from {
        opacity: 0;
        text-shadow: -0px -0px 0 #000, 0px -0px 0 #000, -0px 0px 0 #000, 0px 0px 0 #000;

    } to {
        opacity: 1;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}


@media screen and (max-width: 545px) {
    .intro-page .container > div,
    .new-container > h1 {
        font-size: 1.6em;
    }

    .intro-page .container.start > div p > span {
        letter-spacing: 5px;
    }

    .parts-container {
        transition: opacity 0.1s ease-out;
    }

    @keyframes wave {
        from {
            transform: translateY(0px);
        } to {
            transform:  translateY(10px);
        }
    }
}

@media screen and (max-width: 400px) {
    .intro-page .container > div {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1600px) {

    .new-container {
        transform: translate(-50%, -200%);
    }

    .parts-container {
        width: 85%;
    }

    .parts-container,
    .parts-container > div {
        perspective: 2500px;
    }

    @keyframes expand {
        from {
            transform: translateZ(-20000px);
        } to {
            transform: translateZ(350px);
        }
    }
}